.backgroundWrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #020617; /* Base dark color (like bg-slate-950) */
}

.gradientBg {
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at 30% 30%,
      rgba(31, 255, 188, 0.075) 0%,
      rgba(255, 75, 31, 0) 60%
    ),
    radial-gradient(
      circle at 70% 70%,
      rgba(31, 221, 255, 0.144) 0%,
      rgba(31, 221, 255, 0) 60%
    );
  background-size: 300% 300%;
  animation: gradientShift 60s ease infinite;
  filter: blur(100px);
  opacity: 0.6;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
