:root {
  --headerbg: url(https://t3.ftcdn.net/jpg/09/50/60/66/360_F_950606661_tzkqSnI5kAPUaEXpKZNar7ZpfoFXXBBY.jpg);
}

.container {
  background: rgb(9, 12, 14);
  height: 100vh;
  box-shadow: 0px 20px 20px 40px black;
  color: white;
  display: flex;
}

.headerSide {
  height: 100%;
  width: 26%;
  position: relative;
  .sideBack {
    position: absolute;
    background-color: rgb(21, 116, 106);
    background: linear-gradient(black, rgba(0, 255, 229, 0.329));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
  }
}
.sideBack div {
  background-image: var(--headerbg);
  background-color: rgba(9, 77, 60, 0.655);
  background-blend-mode: multiply;
  mix-blend-mode: exclusion;
  background-attachment: fixed;
  background-size: cover;
  background-position: calc(-100px);
}

.sideFront {
  position: relative;
  z-index: 1;
  left: 0;
  right: 0;
  padding: clamp(20px, 2vw, 40px);
}

.headerMain {
  position: relative;
  width: 100%;
  .headerBack {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    background-color: rgb(38, 44, 45);
    div {
      background-image: var(--headerbg);
      background-color: rgba(50, 56, 60, 0.858);
      background-blend-mode: multiply;
      mix-blend-mode: lighten;
      background-attachment: fixed;
      background-size: cover;
        background-position: calc(-100px);

    }
  }
}
