:root {
  --headerbg: url(https://t3.ftcdn.net/jpg/09/50/60/66/360_F_950606661_tzkqSnI5kAPUaEXpKZNar7ZpfoFXXBBY.jpg);
}

.container {
  background: rgb(9, 12, 14);
  height: 100vh;
  box-shadow: 0px 20px 20px 40px black;
  color: white;
  display: flex;
}

.rightFlex {
  display: flex;
  flex-direction: column;
}

.headerMain {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
  .headerBack {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    background-color: rgba(35, 38, 41, 0.882);

    div {
      background-image: var(--headerbg);
      background-color: rgba(25, 34, 42, 0.789);
      background-blend-mode: multiply;
      mix-blend-mode: lighten;
      background-attachment: fixed;
      background-size: cover;
      background-position: calc(-100px);
    }
  }
}

.headerTitle {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.headerTitle1 {
  line-height: 1;
  margin-top: clamp(6.25rem, 3.215vw + 5.516rem, 9.375rem);
  margin-left: clamp(3.75rem, 1.479vw + 3.413rem, 5.188rem);
  text-transform: uppercase;
  h2 {
    font-size: clamp(3.75rem, 2.572vw + 3.163rem, 6.25rem);
    color: rgba(255, 255, 255, 0.519);
  }
  h3 {
    font-size: clamp(3.75rem, 2.572vw + 3.163rem, 6.25rem);
    font-weight: bolder;
    
  }
}
.globe {
  height: 1000px;
}
.headerSub {
  line-height: 1.3;
  letter-spacing: 1px;
  font-size: clamp(0.625rem, 0.386vw + 0.537rem, 1rem);
  font-weight: 100;
  b {
    color: rgba(0, 255, 221, 0.856);
  }
}
/* PANEL */
.panel {
  background-color: rgb(15, 22, 27);
  border-bottom: solid 1px rgba(13, 203, 178, 0.159);
  padding: 40px;
  display: grid;
  line-height: 21px;
  letter-spacing: 0.35px;
  .panelTxt {
    margin-left: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.panel::before {
  margin: -20px 0px -205px -40px;
  display: block;
  content: "";
  background-color: rgb(83, 224, 198);
  width: 50px;
  background-image: var(--headerbg);
  background-blend-mode: multiply;
  mix-blend-mode: lighten;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 20px rgb(9, 12, 14);
}

.textSvg {
  opacity: 0.2;
  width: 300px;
  margin-top: 10px;
  animation: Spin 120s linear infinite;
  
}
.title {
  white-space: nowrap;
  width: 75px;
  border-top: solid 5px rgb(9, 152, 126);
  text-transform: uppercase;
  line-height: 20px;
  padding: 20px 0px 40px 0px;
  color: white;
  span {
    display: block;
    font-weight: lighter;
    font-style: italic;
    font-family: "Saira", serif;
    font-size: 20px;
    position: absolute;
    text-transform: lowercase;
    color: rgb(255, 255, 255);
    line-height: 35px;
    margin: -1px 0px 0px 5px;
    opacity: 0.25;
  }
}

.msg {
  overflow: auto;
  height: 100px;
  width: 70%;
  p {
    color: rgba(255, 255, 255, 0.348);
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 13px;
  }
}
.msg::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}
.msg::-webkit-scrollbar-thumb {
  border: solid 0.6px rgba(13, 203, 178, 0.159);
  background-color: rgb(22, 31, 38);
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
