.container {
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content styling inside each section */
.content {
  z-index: 100;
}

/* Background overlays with low opacity */
.background1 {
  background: transparent;
}
.background2 {
  background: linear-gradient(rgba(0, 255, 242, 0), rgba(16, 187, 255, 0.09));
}
.background3 {
  background: linear-gradient(
    rgba(16, 187, 255, 0.09),
    rgba(0, 255, 242, 0.14)
  );
}
.background4 {
  background: linear-gradient(
    rgba(0, 255, 242, 0.14),
    rgba(16, 187, 255, 0.205)
  );
}
.background5 {
  background: linear-gradient(
    rgba(16, 187, 255, 0.205),
    rgba(0, 255, 242, 0.271)
  );
}

/* Sidebar styles for dots and arrows */
.sidebar {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 1000;
}

/* Each dot container */
.dotWrapper {
  position: relative;
}

/* Dot link styling */
.dotLink {
  cursor: pointer;
  display: inline-block;
}

/* Dot style */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.39);
  pointer-events: auto;
  z-index: 2;
  transition: .3s ease;
  &:hover {
    transform: scale(1.2);
  }
}

/* Active dot style */
.activeDot {
  background: rgb(255, 255, 255);
}

/* Sidebar label that appears on hover */
.sidebarLabel {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: right;
  width: 200px;
  padding: 2px 4px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Show label on hover of the dot wrapper */
.dotWrapper:hover .sidebarLabel {
  opacity: 1;
}

/* Navigation arrow styling */
.navArrow {
  color: rgba(255, 255, 255, 0.581);
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  padding-left: .5px;
}

/* Arrow hover effect */
.navArrow:hover {
  color: white;
  transform: scale(1.2);
}
